body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

.titulos {
    color: darkslategrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}

.cuerpo {
    font-size: 12px;
    font-weight: 200;
}

main {
    font-size: 15px;
    background-color:antiquewhite;
    border-radius: 15px;
    padding: 10px 30px;
    width: 50%
}

p {
    font-size: 12px;
    font-weight: 200;
    padding-left: 25px;
}

video {
    padding-left: 25px;
}

img {
    padding-left: 360px 
}